.box {
  position: absolute;
  width: 320px;
  background: var(--light-color);
  display: flex;
  font-size: 40px;
  border-style: none;
  justify-content: center;
  align-items: center;
  padding-bottom: 43px;
}

.button {
  border: none;
  position: fixed;
  border-radius: 50%;
  box-shadow: 0px 6px 15px var(--green-color);
  width: 44px;
  height: 44px;
  right: 20px;
  bottom: 40px;
  padding: 0;
  display: block;
  transition: transform 250ms var(--time-function);
  background-color: var(--green-color);
}

.button:hover,
.button:focus-within {
  transform: scale(1.2);
}

@media screen and (min-width: 540px) {
  .box {
    width: 540px;
    border-radius: 20px;
    padding-bottom: 60px;
  }
  .button {
    right: 40px;
  }
  .leader {
    font-size: 30px;
    line-height: 45px;
  }
}

@media screen and (min-width: 1280px) {
  .button {
    right: 100px;
  }
}

.buttonIcon {
  position: absolute;
  top: 3px;
  left: 5px;
  color: var(--light-color);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.1);
}
