.homeView {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .homeView {
    flex-direction: column;
  }
  .homeBackground {
    /* position: absolute; */
    background-image: url(../../images/backgroundProject.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) {
  .homeView {
    flex-direction: row;
  }
}
