.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableHead {
  align-items: center;
  font-family: 'Circe Bold';
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--light-color);
  font-weight: bold;
}

.tableHead th {
  padding: 15px 30px;
}

.tableHead .tableFirstCol {
  padding: 15px 0px 16px 30px;
  border-radius: 30px 0px 0px 30px;
  text-align: start;
}
.tableHead .tableSecondCol {
  padding: 15px 30px 16px 0px;
  border-radius: 0px 30px 30px 0px;
  text-align: end;
}

.tableBody td {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0 5px 4px -5px rgb(255 255 255 / 60%);
  font-family: Circe Regular, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  height: 54px;
  vertical-align: middle;
}

td:first-child {
  padding-left: 30px;
  text-align: start;
}
td:not(:first-child) {
  padding-right: 30px;
  text-align: end;
}

.costs_sum,
.income_sum {
  font-family: 'Circe Bold';
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}

.mark {
  display: inline-flex;
  width: 24px;
  height: 24px;
  margin-right: 16px;
  vertical-align: middle;
}

.costs_sum {
  color: var(--costs);
  padding-top: 15px;
}
.income_sum {
  color: var(--green-color);
  padding-top: 10px;
}

.tableFooter .costs {
  padding-top: 15px;
}

.tableFooter .income {
  padding-top: 10px;
}

.tableFooter th {
  text-align: left;
  padding-left: 30px;
}

/* SELECTS */

.selectWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.yearSelect {
  margin: 20px 0 0;
}

.selectWrapper select {
  width: 100%;
  background-color: transparent;
  height: 50px;
  border-radius: 30px;
  font-family: 'Circe Regular';
  font-size: 16px;
  line-height: 1.5;
  padding: 0 20px;
}

@media screen and (min-width: 768px) {
  .selectWrapper {
    flex-direction: row;
    justify-content: space-between;
  }
  .yearSelect {
    margin: 0 0 0 20px;
  }
}
