.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.tableHead {
  align-items: center;
  font-family: 'Circe Regular';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--light-color);
}

.tableHead th {
  padding: 15px 30px;
}

.tableHead .tableFirstCol {
  /* padding: 15px 0px 16px 0px; */
  border-radius: 30px 0px 0px 30px;
}
.tableHead .tableSecondCol {
  /* padding: 15px 0px 16px 0px; */
  border-radius: 0px 30px 30px 0px;
}

.tableBody td {
  border-bottom: 1px solid #dcdcdf;
  box-shadow: 0 5px 4px -5px rgb(255 255 255 / 60%);
  font-family: Circe, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.13;
}

td:not(:first-child) {
  padding: 19px 0 17px;
}

/* th:first-child {
  text-align: start;
  padding-left: 30px;
}

th:last-child {
  border-radius: 0px 30px 30px 0px;
} */

/* .tableData {

}
.tableBody {

}
.mark {

} */

@media screen and (min-width: 768px) {
  .table {
    margin-left: 35px;
  }
}
