.titleCells {
  background-color: var(--light-color);
  border: none !important;
  border-collapse: collapse;
  border-spacing: 0;
}
.titleCells:last-child {
  border-radius: 0 30px 30px 0;

  background-color: var(--light-color);
  border-collapse: collapse;
  border-spacing: 0;
}
.first {
  border-radius: 30px 0 0 30px;
  border: none !important;
  background-color: var(--light-color);
}
