.viewNavigation {
  display: flex;
  margin-bottom: 10px;
  justify-content: space-evenly;
}

.viewNavigation a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--dark-color);
  display: flex;
  align-items: center;
}

.viewNavigation svg {
  width: 18px;
  height: 18px;
  fill: var(--blue-color);
}

.viewNavigation .active {
  font-weight: bold;
}

.active svg {
  fill: var(--blue-active);
}

@media screen and (min-width: 768px) {
  .viewNavigation {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .viewNavigation svg {
    margin-right: 23px;
    filter: drop-shadow(0px 3px 10px rgba(74, 86, 226, 0.5));
  }

  .viewNavigation a:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .viewNavigation {
    margin-bottom: 30px;
  }
}
