.buttonsContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.buttons {
    font-family: 'Circe';
    width: 300px;
    height: 50px;
    cursor: pointer;
    border-radius: 20px;

    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.1em;
    transition: transform 1s;
}

.buttons:hover,
.buttons:focus {
    transform: scale(1.02);
}

.buttonAddTransaction {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circe Regular;
    border: none;
    margin: 51px 0 20px 0;
    background-color: var(--green-color);
    color: var(--light-color);
}

.buttonCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Circe Regular;
    border-color: var(--blue-active);
    color: var(--blue-active);
    background-color: var(--light-color);
}
