.header {
  color: var(--dark-color);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 45px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
