.tab {
  width: 100%;
  padding: 10px 0 35px 0;
}

.header {
  color: var(--dark-color);
  font-family: 'Poppins Bold', sans-serif;
  font-size: 30px;
  line-height: 1.5;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.tableWrapper {
  width: 100%;
  flex-basis: 50%;
}

.noChart {
  margin: 0 auto;
  font-family: 'Poppins Bold', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  padding: 20px 0 20px;
  visibility: hidden;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .tab {
    padding: 0 0 35px 0;
  }
}

@media screen and (min-width: 1280px) {
  .tab {
    padding: 30px 0 35px 30px;
  }
}
