.tab {
  width: 100%;
}

.header {
  color: var(--dark-color);
  font-family: 'Poppins Bold', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  padding-top: 10px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

.tableWrapper {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
    align-items: flex-start;
  }
  .tab {
    padding-left: 30px;
  }
}
