.tab {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  width: 100%;
}

.header {
  color: var(--dark-color);
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  line-height: 45px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .wrapper {
    flex-direction: row;
  }
}
