.box{
    position: absolute;
    width: 540px;
    background: var(--light-color);
    display: flex;
    font-size: 40px;
    border-style: none;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}


.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 20px;
    margin-right: 20px;
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: #fff;
    transition: all .25s cubic-bezier(.4,0,.2,1);
}
/* .closeButton:hover,.closeButton:focus {
    box-shadow: -7px 7px 8px 0px rgba(34, 60, 80, 0.2);
} */

.radio{
    display: inline-flex;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
