.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  background-color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0 40px;
    height: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding: 0 85px;
  }
}

.home_link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
