
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 42px 0 40px 0;
  }
  
  .switch {
    display: flex;
    border: solid 1px var(--auth-icons);
    border-radius: 40px;
    margin: 0 20px;
  }
  
  .buttonModalIncome {
    background-color: var(--green-color);
    cursor: pointer;
    width: 45px;
    height: 45px;
    position: absolute;
    top: -2px;
    left: -3px;
    border-radius: 50%;
    border-width: none;
    box-shadow: 0px 6px 15px var(--green-color)
  }
  .buttonModalIncome_svg{
    position: relative;
    top: 12px ;
    left: 13px;
  }
  
  .buttonModalOutlay {
    background-color: var(--costs);
    cursor: pointer;
    position: absolute;
    width: 45px;
    height: 45px;
    top: -2px;
    left: -3px;
    border-radius: 50%;
    border-width: none;
    box-shadow: 0px 6px 15px var(--costs);
  }

  .buttonModalOutlay_svg{
    position: relative;
    top: 12px ;
    left: 13px;
  }


  .incomeActive {
    color: var(--green-color);
  }
  
  .outlayActive {
    color: var(--costs);
  }
  
  .outlayNoActive,
  .incomeNoActive {
    color: var(--auth-icons);
  }
  
  .outlayNoActive,
  .incomeNoActive,
  .outlayActive,
  .incomeActive {
    font-size: 16px;
  }
  
  .category {
    margin-bottom: 40px;
  }