label {
  font-size: 12px;
  text-transform: uppercase;
  margin-left: 28px;
  margin-bottom: 10px;
}

.field {
  height: 80px;
  background-color: var(--light-color);
  overflow: hidden;
  border-collapse: collapse;
  border-radius: 30px;
  border: none !important;
  border-spacing: 0;
}
