@import-normalize;
@import './stylesheet/vars.css';
@import './stylesheet/fonts.css';

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

body {
  font-family: 'Circe Regular';
  font-size: 16px;
  background-color: #ffffff;
  /* background-color: var(--main-background); */
  -webkit-tap-highlight-color: transparent;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1280px;
  min-height: 100vh;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  #diagram .MuiFormControl-root {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #e7eaf2;
    background-repeat: no-repeat;
    background-image: url(./images/rouge-shape.svg);
    background-position: top -150px right -260px;
  }
  body::after {
    content: '';
    position: absolute;
    display: block;
    top: 1px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(./images/violet-shape.svg);
    background-position: bottom -150px left -150px;
    z-index: -1;
  }
  .container {
    padding: 0 40px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    background-position: top -150px right -150px;
  }
  body::after {
    background-position: bottom -150px left -150px;
  }
  .container {
    padding: 0 85px;
  }
}
